.products {
  padding: 20px;
}

.product-card {
  border: 1px solid lightgray;
  height: 200px;
}

.registerform {
  width: 50%;
  margin: 0 auto;
}

.remove-button {
  position: absolute;
  bottom: 15px;
  left: 40px;
}

.edit-button {
  position: absolute;
  bottom: 60px;
  left: 40px;
}